@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,800;1,900&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Inter", sans-serif;
  font-family: "Inter Tight", sans-serif;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  color: black;
}
.group-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  box-shadow: 0-1px 32px rgba(0, 0, 0, 0.25);
  width: 1280px;
  height: 80px;
}
.y {
  color: #f9b530;
}
.dayat {
  position: absolute;
  top: calc(50% - 12px);
  left: 0;
  letter-spacing: 0.12em;
  font-weight: 900;
  font-family: var(--font-inter);
  text-align: left;
  color: var(--color-black);
}
.about,
.contact,
.home,
.project {
  font-size: 15px;
  position: absolute;
  height: 100%;
  width: 26.34%;
  top: 0;
  left: 21.07%;
  letter-spacing: 0.02em;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact,
.home,
.project {
  height: 99.45%;
  width: 16.32%;
  left: 0;
}
.contact,
.project {
  width: 20.6%;
  left: 52.17%;
}
.contact {
  width: 22.47%;
  left: 77.53%;
}
.about-parent {
  position: absolute;
  height: 50.28%;
  width: 36.9%;
  top: 25%;
  right: 31.52%;
  bottom: 24.72%;
  left: 31.58%;
  font-size: var(--font-size-sm);
}
.group-item,
.search {
  position: absolute;
  left: 0;
}
.group-item {
  top: 0;
  border-radius: 10px;
  border: 1px solid #e7e7e8;
  box-sizing: border-box;
  width: 193px;
  height: 48px;
}
.search {
  width: 40.28%;
  top: calc(50% - 8px);
  letter-spacing: 0.02em;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15px;
}
.frame-icon,
.search-parent {
  position: absolute;
  height: 24px;
}
.frame-icon {
  top: 0;
  left: 120px;
  width: 24px;
  overflow: hidden;
}
.search-parent {
  width: 74.61%;
  top: calc(50% - 12px);
  right: 13.47%;
  left: 11.92%;
}
.rectangle-group {
  position: absolute;
  top: 0;
  left: 947px;
  width: 193px;
  height: 48px;
  font-size: 16px;
}
.dayat-parent {
  position: absolute;
  top: calc(50% - 24px);
  left: 70px;
  width: 1140px;
  height: 48px;
}
.rectangle-parent {
  position: relative;
  width: 100%;
  height: 80px;
  text-align: center;
  font-size: 20px;
  color: var(--color-gray);
  font-family: var(--font-plus-jakarta-sans);
}
